/* Row Wrap on Events page section */
.rowwrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.rowwrap-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}

.rowwrap-card {
    position: relative;
    text-align: center;
}

.rowwrap img {
    height: 280px;
    width: auto;
    border-radius: 30px;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rowwrap button {
    background-color: #E30B5C;
    color: #FFDAB9;
    font-size: 16px;
    position: absolute;
    bottom: 10%;
    left: 10%;
    padding: 0.5em 1.5em;
}

