/**** Contact Us / Find Us Page Section ****/

/*** Find Us Section ***/
.maps {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    gap: 1em 0;
    width: 100%;
    padding: 1em 0;
}

.maps iframe {
    box-sizing: content-box;
    justify-content: baseline;
    width: 100%;
    margin: 0px;
    padding: 0;
    border: 0;
}

.maps-text {
    justify-content: baseline;
    width: 60%;
}

.maps-text h4 {
    padding: 1em 0 0 0;
}

.maps-text h6 {
    font-size: 16px;
    font-weight: lighter;
    padding: 1em 0 0 0;
}

/*** Contact Us Section ***/

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    gap: 0;
    width: 60%;
    padding: 1em 0;
}

.contact i {
    font-size:20px;
    padding: 1em 1em 1em 0;
}

/** Enquiry Form **/
.contact h2 {
    font-size: 16px;
    padding: 0;
}
/* Style inputs with type="text", select elements and textareas */
.enquiry input[type=text], .enquiry textarea {
    width: 100%; /* Full width */
    padding: 1em; /* Some padding */ 
    border: 1px solid #E30B5C; /* Raspberry border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.enquiry input[type=submit] {
    background-color: #E30B5C;
    color: #FFDAB9;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

/* When moving the mouse over the submit button, add a darker green color */
.enquiry input[type=submit]:hover {
    opacity: 0.8;
}
  

/**** Newsletter subscribe ****/
.subscribe {
    padding: 1em 0;
}

.subscribe h4, .subscribe p {
    margin: 1em 0 0 0;
}

.subscribe form {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 1em;
    width: 40%;
}
  
/* Style the input elements */
.subscribe input[type=text]{
    width: 60%;
    padding: 12px;
    margin: 1em 0;
    border: 1px solid #E30B5C;
    box-sizing: border-box;
}

/* Style the submit button */
.subscribe input[type=submit] {
    background-color: #E30B5C;
    color: #FFDAB9;
    width: 40%;
    padding: 12px;
    margin: 1em 0;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}
.subscribe input[type=submit]:hover {
    opacity: 0.8;
}