/** Row of pictures section **/
.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row1-card {
    position: relative;
    text-align: center;
}

.row1 img {
    height: 220px;
    width: auto;
    border-radius: 30px;
    padding: 10px 0 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row1 h4 {
    color: #E30B5C;
    text-shadow: 5px 5px 5px #FFDAB9;
    font-size: 20px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.row1 p {
    padding: 10px 100px 0 100px;
}


/** Feature Horizontal then Vertical Card section **/
.featurehv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.featurehv-card60 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60%;
    padding: 10px;
    border: 4px;
    border-style: solid;
    border-color: #E30B5C;
    border-radius: 10px;
}

.featurehv-card80 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    padding: 10px;
    border: 4px;
    border-style: solid;
    border-color: #E30B5C;
    border-radius: 10px;
}

.featurehv-card100 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border: 4px;
    border-style: solid;
    border-color: #E30B5C;
    border-radius: 10px;
}

.featurehv-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featurehv h2 {
    text-align: top;
    padding: 20px 0 0 0;
}

.featurehv img {
    height: 400px;
    width: auto;
    border-radius: 30px;
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.featurehv p {
    text-align: center;
    padding: 30px 20px 30px 20px;
}

/** Feature Vertical then Horizontal Card section **/
.featurevh {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.featurevh-card60 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60%;
    padding: 10px;
    border: 4px;
    border-style: solid;
    border-color: #E30B5C;
    border-radius: 10px;
}

.featurevh-card80 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    padding: 10px;
    border: 4px;
    border-style: solid;
    border-color: #E30B5C;
    border-radius: 10px;
}

.featurevh-card100 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border: 4px;
    border-style: solid;
    border-color: #E30B5C;
    border-radius: 10px;
}

.featurevh-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.featurevh h2 {
    text-align: top;
    padding: 20px 0px;
}

.featurevh img {
    height: 350px;
    width: auto;
    border-radius: 30px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.featurevh p {
    text-align: center;
    padding: 10px 50px 50px 50px;
}


/** Feature Vertical then Horizontal Padding Top & Bottom Card section **/
.featurevh-padtb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5em 0;
}

.featurevh-padtb-card60 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60%;
    padding: 10px;
    border: 4px;
    border-style: solid;
    border-color: #E30B5C;
    border-radius: 10px;
}

.featurevh-padtb-card80 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    padding: 10px;
    border: 4px;
    border-style: solid;
    border-color: #E30B5C;
    border-radius: 10px;
}

.featurevh-padtb-card100 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border: 4px;
    border-style: solid;
    border-color: #E30B5C;
    border-radius: 10px;
}

.featurevh-padtb-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.featurevh-padtb h2 {
    text-align: top;
    padding: 20px 0px;
}

.featurevh-padtb img {
    height: 350px;
    width: auto;
    border-radius: 30px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.featurevh-padtb p {
    text-align: center;
    padding: 10px 50px 50px 50px;
}


/* About Intro Text section */
.about-intro {
    padding: 1em;
    text-align: justify;
}
.about-intro h2 {
    padding: 0.5em 0 0.5em 0;
    text-align: center;
}
.about-intro h4 {
    text-align: center;
}
.about-intro p {
    padding: 0.5em 0 0.5em 0;
}

/* Café Intro Text section */
.cafe-intro {
    padding: 1em;
}
.cafe-intro h2 {
    padding: 0.5em 0 0.5em 0;
    text-align: center;
}
.cafe-intro h4 {
    text-align: center;
}
.cafe-intro p {
    padding: 0.5em 0 0.5em 0;
}


/** Homepage for About section **/
.home-about a {
    text-decoration: none;
    color: #E30B5C;
    font-style: italic;
    font-weight: bold;
}




