/*  Universal Selector - Reset all html elements to the following */
* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    border: 0;
}

/* set the html tag to max-width of the screen */
html {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* remove bullet point */
li {
    list-style-type: none;
}


/**** Start of Header Section ****/

header {
    background-color: #FFDAB9;
    color: #E30B5C;
    padding: 1em;
}

header a img {
    height: 150px;
}

/* Remove underline from links */
header nav ul a {
    text-decoration: none;
    color: #E30B5C;
    font-size: 18px;
    font-weight: bold;
    border: 4px;
    border-style: solid;
    border-color: #E30B5C;
    padding: 10px;
    border-radius: 2em;
}

/* Pseuod-Class hover */
header nav ul a:hover {
    background-color: #E30B5C;
    color: #FFDAB9;
}

/* Style the "active" element to highlight the current page */
header nav ul a.active {
    background-color: #E30B5C;
    color: #FFDAB9;
}

/*** Start of Header structure with 2 rows of grids ***/

/** Start of Top row grid on 3 columns **/

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 1em;
}

.grid3 li {
    padding: 1em;
}

/* Position the logo */
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Style the magnifying icon */
.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    gap: 1em;
}
.search i {
    font-size: 2em;
}

/* Style the search box inside the navigation bar */
.search input[type=text] {
    font-size: 18px;
    font-weight: bold;
    max-width: 12em;
    border: 4px;
    border-style: solid;
    border-color: #E30B5C;
    border-radius: 10px;
    padding: 10px;
}

/** End of Top row grid on 3 columns **/

/** Start of Lower row grid on 5 columns **/

.grid5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding: 1em;
}

.grid5 li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid5 a {
    background-color: #FFDAB9;
}

/** End of Lower row grid on 5 columns **/

/*** End of Header structure with 2 rows of grids ***/

/**** End of Header Section ****/


/**** Start of Main Section ****/

/*** Start of Hero Section ***/
.hero {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

.hero h1 {
    color:#FFDAB9;
    text-shadow: 5px 5px 5px #E30B5C;
    font-size: 50px;
    padding-top: 150px;
    padding-bottom: 100px;
    position: absolute;
}
/*** End of Hero Section ***/

/*** Start of Main Content Section ***/
.main-content {
    padding: 5em;
}

.main-content h2 {
    padding: 60px 0 10px 0;
    color: #E30B5C;
}

.titlecentered h2 {
    text-align: center;
}

.toppage h2 {
    padding: 0 0 10px 0;
}

/*** End of Main  Content Section ***/

/**** End of Main Section ****/


/**** Start of Footer Section ****/

footer {
    background-color:#FFDAB9;
    color: #E30B5C;
    line-height: 32px;
}

footer h4 {
    font-size: 16px;
    margin: 0;
}

footer p {
    font-size: 12px;
}

/* Remove underline from links */
footer nav ul a {
    text-decoration: none;
    color: #E30B5C;
    font-size: 12px;
    font-weight: bold;
}

/* Pseuod-Class hover */
footer nav ul a:hover {
    font-style: italic;
}

/* Style the elements of the footer */
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
}

.footer-address, .footer-times, .footer-nav, .footer-subscribe {
    padding: 1em;
}

.footer-address img {
    height: 100px;
    padding: 0 0 1em 0;
}

/* Style the form element with a border around it */
.footer-subscribe form {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 1em;
    padding: 0em;
}
  
/* Style the input elements */
footer input[type=text]{
    width: 100%;
    padding: 0.5em;
    margin: 8px 0;
    border: 1px solid #E30B5C;
    box-sizing: border-box;
}

/* Style the submit button */
footer input[type=submit] {
    background-color: #E30B5C;
    color: #FFDAB9;
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}
footer input[type=submit]:hover {
    opacity: 0.8;
}

/* Style the social media icons */
footer i {
    font-size:30px;
    padding: 20px 10px;
}
footer i:first-of-type {
    padding-left: 0;
}

/**** End of Footer Section ****/


