/* Gallery grid 3x3 section */
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid3x3 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.grid3x3 img {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Gallery grid 4x2 section */
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid4x2 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.grid4x2 img {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



